#employeestable tr {
    height: 32px;
  }
  #employeestable th, td {
    font-size: 10pt !important;
  }
  .employeelink {
    color: #015CDA;
  }
  .employeelink:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .mat-column-FullName {
    padding: 0px 8px 0px 0px !important;
  }
  .mat-column-EmployeeID {
    padding: 0px 8px 0px 0px !important;
  }
  .mat-column-Email {
    padding: 0px 8px 0px 0px !important;
  }
  .mat-column-Telephone {
    padding: 0px 8px 0px 0px !important;
  }
  .mat-column-OrganisationName {
    padding: 0px 8px 0px 0px !important;
  }
  .warning{
    padding-top: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
  }
  